
     
    
 
    </section>
    <footer class="footer  py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center align-self-start">
                    <div class="social-icon">
                        <a href=""><i class="fab fa-facebook-f  wow fadeInLeft" data-wow-duration=".3s" data-wow-delay=".3s"></i></a>
                        <a href=""><i class="fab fa-twitter wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s"></i></a>
                        <a href=""><i class="fab fa-linkedin-in wow fadeInLeft" data-wow-duration="2.7s" data-wow-delay="2.7s"></i></a>
                    </div>
                    
      
                </div>
                <div class="col-sm-6 ml-auto">
                    <div class="copyright d-flex flex-row align-items-center justify-content-center">
                        <p class="text-white mr-auto ">Copyright &copy; 2021</p>
                        <img src="/images/logo.png" class="footer-logo"  alt="logo footer">
                    </div>
                
                </div>
            </div>
        </div>
      </footer>

    <script src="/js/walmart.js"></script>
    </body>
    </html>
    