<section class="main-section">
    <!-- ----------- Side wrapper -------------->
    <div class="row">
       <div class="col-md-2 px-0 d-none d-md-block">
          <div class="sidebar bg-primary p-2">
             <div class="sidebar-header text-center pt-1">
                 <i class="fas fa-laugh-wink fa-2x"></i> <span>HERO ADMIN</span> <sup>⁕</sup>
             </div>
             <hr class="text-center">
             <ul class="list-unstyled navbar-nav nav-list accordion" id="accordionSidebar">
                 <li class="nav-item"><a class="nav-link" href="/dashboard"><i class="fas fa-w fa-tachometer-alt"></i> <span>Dashboard</span> </a></li>
                 <hr class="text-center">
                 <div class='inventory' >INVENTORY</div>
                 <li>
                   <a href="#walmartSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                         class="fab fa-wikipedia-w"></i> <span>Walmart</span> </a>
                   <ul class="collapse list-unstyled dropdown-menu walmart-dropdown" id="walmartSubmenu">
                      <li class="dropdown-item">
                         <a href="/product/instock"><i class="fas fa-arrow-circle-up"></i> <span>In Stock</span> </a>
                      </li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item">
                         <a href="/product/outofstock"><i class="fas fa-arrow-circle-down"></i> <span>Out of Stock</span></a>
                      </li>
                      <li class="dropdown-divider"></li>
       
                      <li class="dropdown-item">
                         <a href="/product/pricechanged"><i class="fas fa-dollar-sign"></i> <span>Price Changed</span></a>
                      </li>
                      <li class="dropdown-divider"></li>
       
                      <li class="dropdown-item">
                         <a href="/product/backinstock"><i class="fas fa-backward"></i><span> Back In Stock</span></a>
                      </li>
                   </ul>
                </li>
               
                <hr class="text-center">
                <li class="nav-item"><a class="nav-link" href="/product/new"><i class="fas fa-plus-circle"></i> <span>Add Product</span> </a></li>
                <li class="nav-item"><a class="nav-link" href="/update"><i class="fas fa-sync-alt"></i> <span> Update</span> </a></li>
                <li class="nav-item"><a class="nav-link" href="/product/search"><i class="fa fa-search"></i> <span>Search Product</span> </a></li>
                <hr class="text-center">
                <div class='inventory' >ANALYTICS</div>
                <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-chart-bar"></i><span> Analytics</span> </a></li>
                <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-table"></i> <span>Table</span> </a></li>
                <hr class="text-center">
             
             </ul>
         </div>
             

       </div>
